<div id="menu" class="well well-sm">
    <div id="login" >
        Als Administrator anmelden:
        {{input type='password' value=password placeholder="Passwort"}}
    </div>
    {{input type="text" placeholder='Gruppe filtern' value=filtersn}}
    {{#if admin}}
        <button class="btn btn-primary" {{action createCSV}}>Übersicht speichern</button>
    {{/if}}
</div>

<table class="table table-striped table-hover lapTable">
    <thead>
    <tr>
        <th>Startnummer</th>
        <th>Setzrunde</th>
        {{#each labels}}
            <th>{{label}}</th>
        {{/each}}
        <th>Delta</th>
    </tr>
    </thead>
    <tbody>
    {{#each groupedResults}}
        <tr>
            <td colspan="10" class="group"><strong>Gruppe {{group}}</strong></td>
        </tr>
        {{#each races}}
            <tr>
                <td class="startnummer"><strong>{{startnummer}}</strong></td>
                {{#each laps}}
                    {{#if runde}}
                        {{#if laptime}}
                            {{#if gueltig}}
                            <td>
                                {{laptime}} s<br>&#916; = {{delta}} s
                            {{else}}
                            <td class="ungueltig">
                                {{laptime}} s<br>&#916; = {{delta}} s
                            {{/if}}

                            {{#if admin}}
                                <input type="checkbox" {{bind-attr checked=checked}} {{action toggleCheckbox this}}>
                            {{/if}}
                        </td>
                        {{else}}
                            <td>
                            </td>
                        {{/if}}
                    {{else}}
                        <td>
                            {{laptime}} s
                        </td>
                    {{/if}}
                {{/each}}
                <td>
                    <strong>&#916; = {{meanDelta}} s</strong>
                    <br>
                    v = {{velocity}} km/h
                </td>
                <td>
                    {{#if ../../admin}}
                        <button class="btn btn-danger btn-sm" {{action deleteStartnummer this}}>Löschen</button>
                    {{/if}}
                </td>
            </tr>
        {{/each}}
    {{/each}}
    </tbody>
</table>
