<h1>Übersicht</h1>
{{input type='text' placeholder='Startnummer filtern' value=filtersn}}

<table class="table table-striped table-hover lapTable">
    <thead>
    <tr>
        <th>Startnummer</th>
        <th>Setzrunde</th>
        {{#each labels}}
            <th>{{label}}</th>
        {{/each}}
        <th>Abweichung</th>
    </tr>
    </thead>
    <tbody>
    {{#each groupedResults}}
        <tr>
            <td class="startnummer"><strong>{{startnummer}}</strong></td>
            {{#each contents}}
                {{#if setzrunde}}
                    <td>
                        {{laptime}} s
                    </td>
                {{else}}
                    {{#if meanDelta}}
                        <td><strong>&#916; = {{delta}} s</strong></td>
                    {{else}}
                        <td>
                            {{laptime}} s<br>&#916; = {{delta}} s
                        </td>
                    {{/if}}
                {{/if}}
            {{/each}}
            <td>
                <button class="btn btn-danger btn-sm" {{action deleteStartnummer this}}>Löschen</button>
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>

<button class="btn btn-primary" {{action createCSV}}>Übersicht speichern</button>


