<h1>Übersicht</h1>
{{input type='text' placeholder='Startnummer filtern' value=filtersn}}

<table class="table table-striped table-hover lapTable">
    <thead>
    <tr>
        <th>Startnummer</th>
        <th>Setzrunde</th>
        {{#each labels}}
            <th>{{label}}</th>
        {{/each}}
        <th>Delta</th>
    </tr>
    </thead>
    <tbody>
    {{#each groupedResults}}
        <tr>
            <td colspan="10" class="group"><strong>Gruppe {{group}}</strong></td>
        </tr>
        {{#each races}}
            <tr>
                <td class="startnummer"><strong>{{startnummer}}</strong></td>
                {{#each laps}}
                    {{#if runde}}
                        {{#if laptime}}
                            {{#if gueltig}}
                                <td>
                                    {{laptime}} s<br>&#916; = {{delta}} s
                            {{else}}
                                <td class="ungueltig">
                                    {{laptime}} s<br>&#916; = {{delta}} s
                            {{/if}}
                        <input type="checkbox" {{bind-attr checked=checked}} {{action toggleCheckbox this}}>
                                </td>
                        {{else}}
                            <td>
                            </td>
                        {{/if}}
                    {{else}}
                        <td>
                            {{laptime}} s
                        </td>
                    {{/if}}
                {{/each}}
                <td><strong>&#916; = {{meanDelta}} s</strong></td>
                <td>
                    <button class="btn btn-danger btn-sm" {{action deleteStartnummer this}}>Löschen</button>
                </td>
            </tr>
        {{/each}}
    {{/each}}
    </tbody>
</table>

<button class="btn btn-primary" {{action createCSV}}>Übersicht speichern</button>


