<div {{bind-attr id='stopWatchId'}} class="stopwatch">
    <p>{{time}}</p>
    <p>{{startnummer}}</p>
       <p> {{input type='text' value=startnummer}}</p>
    {{#each flap in flaps}}
        <li>{{flap.startnummer}}: {{flap.laptime}}</li>
    {{/each}}
    <button {{action 'start'}}>Start</button>
    <button {{action 'stop'}}>Stop</button>
    <button {{action 'lap'}}>#{{startnummer}}</button>
</div>